* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: var(--color-p);
    --color-p: #403f3f;
    --color-lightgrey: #f8f9fa;
    --color-mediumgrey: #a8a8a874;
    --color-blue: #4285f4;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list{
    display: flex;
    justify-content: end;
    padding: 0.5rem 1.5rem;
    gap: 1.3rem;
}

.nav_item {
    list-style-type: none;
}

.nav_item > a {
    color: var(--color-p);
    text-decoration: none;
}

.nav_item > a:hover {
    text-decoration: underline;
}

h1 {
    color: #f00;
    font-weight: 100;
    font-size: 1.3rem;
    padding-left: 0;
    padding-bottom: 1.2rem;
}

hr {
    border-top: 1px solid #0001;
}

h1, h2 {
    padding-left: 1.4rem;
}

h2 {
    font-weight: 100;
    font-size: 1rem;
}

#form_advanced {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.label {
    width: 180px;
    display: block;
    flex-shrink: 0;
    font-size: 0.8rem;
}

.form_rows {
    display: flex;
}

.form_rows > p {
    font-size: 0.6rem;
    flex-shrink: 0;
    padding-left: 1.3rem;
    flex-grow: 2;
}

.form_rows > input {
    min-width: 500px;
    max-width: 600px;
    width: 100%;
    padding: 0.4rem;
    border: 1px solid var(--color-mediumgrey);
}

.form_rows > input:focus-visible {
    outline: 1px solid var(--color-blue);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.101);
}


#advanced_btn {
    width: fit-content;
    background-image: linear-gradient(#4d90fe, #4787ed);
    color: #fff;
    padding: 0.6rem 0.7rem;
    border: 1px solid #3079ed;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    position: relative;
    left: 180px;
}

#advanced_btn:hover {
    background-image: linear-gradient(to bottom, #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
}

@media screen and (max-width: 1178px) {
    .form_rows > p {
        display: none;
    }
    .form_rows > input {
        min-width: 0;
    }

}

@media screen and (max-width: 425px) {
    .form_rows > input {
        max-width: 500px;
        width: 90%;
    }
    .form_rows {
        flex-direction: column;
        gap: 1rem;
    }
    #advanced_btn {
        left: 0;
    }
}
