:root {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    --color-p: #403f3f;
    --color-lightgrey: #f8f9fa;
    --color-blue: #4285f4;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list{
    display: flex;
    justify-content: end;
    padding: 0.5rem 1.5rem;
    gap: 1.3rem;
}

.nav_item {
    list-style-type: none;
}

.nav_item > a {
    color: var(--color-p);
    text-decoration: none;
}

.nav_item > a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 260px);
    gap: 1.4rem;
}

#logo {
    position: relative;
}

#image_text {
    position: absolute;
    color: var(--color-blue);
    bottom: -15px;
    right: -10px;
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

#search_input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border:1px solid var(--color-lightgrey);
    padding:0.9rem 1.4rem;
    width: 80%;
    border-radius: 3rem;
    box-shadow: 0 5px 13px rgba(34, 34, 34, 0.097);
    margin: auto;
}

#search_input:hover {
    border:1px solid rgba(34, 34, 34, 0.137);
    box-shadow: 0 3px 10px rgba(34, 34, 34, 0.176);
}

@media screen and (min-width: 768px) {
    #search_input {
        width: 40%;
    }
}

#search_btn {
    border: none;
    height: max-content;
    font-size: 1.1rem;
    width: 100%;
}

#search_btn:focus-visible {
    outline: none;
}

#search_btns {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

#search_btns input {
    background-color: var(--color-lightgrey);
    border: var(--color-lightgrey);
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    border-radius: 0.7rem;
    font-size: 14px;
    color: var(--color-p);
    font-weight: 700;
}

#search_btns input:hover,
#search_btns input:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    outline: 1px solid #dadce0;
    color: #202124;
}
    
